.itemContainer {
  display: flex;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}
.imageContainer {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.imageContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.nameContainer {
  border-radius: 20px;
  padding: 10px;
}
.name {
  font-size: 20px;
}

.amount {
  font-weight: bold;
}
